# Simpson's Paradox
Use `admission_data.csv` for this exercise.

In [1]:
# Load and view first few lines of dataset
import pandas as pd
import numpy as np
df = pd.read_csv('admission_data.csv')
df

     student_id  gender      major  admitted
0         35377  female  Chemistry     False
1         56105    male    Physics      True
2         31441  female  Chemistry     False
3         51765    male    Physics      True
4         53714  female    Physics      True
5         50693  female  Chemistry     False
6         25946    male    Physics      True
7         27648  female  Chemistry      True
8         55247    male    Physics     False
9         35838    male    Physics      True
10        40586    male    Physics     False
11        53708  female  Chemistry      True
12        56914    male    Physics      True
13        55248    male    Physics      True
14        37705  female  Chemistry     False
15        37693    male    Physics      True
16        42150  female  Chemistry     False
17        55079  female  Chemistry     False
18        51048    male    Physics      True
19        36390    male    Physics     False
20        50973  female  Chemistry     False
21        54260  female  Chemistry     False
22        42508    male  Chemistry     False
23        51218    male    Physics     False
24        57249    male    Physics      True
25        25386  female  Chemistry     False
26        24504  female  Chemistry     False
27        27555    male    Physics      True
28        55249  female  Chemistry      True
29        55693  female  Chemistry     False
..          ...     ...        ...       ...
470       37902    male    Physics     False
471       50827  female  Chemistry     False
472       55498  female  Chemistry      True
473       36752    male    Physics     False
474       34940  female    Physics      True
475       38762  female    Physics      True
476       45715  female  Chemistry      True
477       34307  female  Chemistry     False
478       25937    male    Physics      True
479       29922  female  Chemistry     False
480       56173    male    Physics     False
481       32569    male    Physics     False
482       47309  female  Chemistry     False
483       45900    male    Physics      True
484       25710    male    Physics      True
485       50503    male    Physics     False
486       43104    male    Physics      True
487       43775  female  Chemistry     False
488       33713  female  Chemistry      True
489       56171    male    Physics     False
490       29553  female    Physics     False
491       25641    male    Physics     False
492       26737  female  Chemistry     False
493       56006  female    Physics      True
494       30192  female  Chemistry      True
495       26950    male    Physics     False
496       25775  female  Chemistry      True
497       47243  female  Chemistry      True
498       52067    male    Physics      True
499       50535    male    Physics     False

[500 rows x 4 columns]

### Proportion and admission rate for each gender

In [35]:
# Proportion of students that are female
female_students = df['gender'].value_counts()['female']
(female_students/500)

0.51400000000000001

In [36]:
# Proportion of students that are male
male_students = df['gender'].value_counts()['male']
male_students/500

0.48599999999999999

In [42]:
# Admission rate for females
df_female = df.loc[df['gender'] == 'female']
df_f_admission = df_female[(df_female['admitted'] == True)]
admission_f_rate = (df_f_admission.shape[0]/df_female.shape[0])
admission_f_rate

0.28793774319066145

In [37]:
# Admission rate for males
df_male = df.loc[df['gender'] == 'male']
df_m_admission = df_male[(df_male['admitted'] == True)]
admission_m_rate = (df_m_admission.shape[0]/df_male.shape[0])
admission_m_rate

0.48559670781893005

### Proportion and admission rate for physics majors of each gender

In [43]:
# What proportion of female students are majoring in physics?
df_f_major = df_female.loc[df_female['major'] == 'Physics']
f_major_p = df_f_major.shape[0]/df_female.shape[0]
f_major_p

0.12062256809338522

In [44]:
# What proportion of male students are majoring in physics?
df_m_major = df_male.loc[df_male['major'] == 'Physics']
m_major_p = df_m_major.shape[0]/df_male.shape[0]
m_major_p

0.9259259259259259

In [45]:
# Admission rate for female physics majors
df_f_major = df_female.loc[df_female['major'] == 'Physics']
f_major_p_rate = (df_f_major[df_f_major['admitted'] == True].shape[0]/df_f_major.shape[0])
f_major_p_rate

0.7419354838709677

In [46]:
# Admission rate for male physics majors
df_m_major = df_male.loc[df_male['major'] == 'Physics']
m_major_p_rate = (df_m_major[df_m_major['admitted'] == True].shape[0]/df_m_major.shape[0])
m_major_p_rate

0.5155555555555555

### Proportion and admission rate for chemistry majors of each gender

In [47]:
# What proportion of female students are majoring in chemistry?
df_f_majorc = df_female.loc[df_female['major'] == 'Chemistry']
f_major_c = df_f_majorc.shape[0]/df_female.shape[0]
f_major_c

0.8793774319066148

In [48]:
# What proportion of male students are majoring in chemistry?
df_m_majorc = df_male.loc[df_male['major'] == 'Chemistry']
m_major_c = df_m_majorc.shape[0]/df_male.shape[0]
m_major_c

0.07407407407407407

In [49]:
# Admission rate for female chemistry majors
df_f_majorc = df_female.loc[df_female['major'] == 'Chemistry']
f_major_c_rate = (df_f_majorc[df_f_majorc['admitted'] == True].shape[0]/df_f_majorc.shape[0])
f_major_c_rate

0.22566371681415928

In [50]:
# Admission rate for male chemistry majors
df_m_majorc = df_male.loc[df_male['major'] == 'Chemistry']
m_major_c_rate = (df_m_majorc[df_m_majorc['admitted'] == True].shape[0]/df_m_majorc.shape[0])
m_major_c_rate

0.1111111111111111

### Admission rate for each major

In [31]:
# Admission rate for physics majors
df_p = df.loc[df['major'] == 'Physics']
df_p_major = (df_p[df_p['admitted'] == True].shape[0]/df_p.shape[0])*100
df_p_major

54.296875

In [32]:
# Admission rate for chemistry majors
df_c = df.loc[df['major'] == 'Chemistry']
df_c_major = (df_c[df_c['admitted'] == True].shape[0]/df_c.shape[0])*100
df_c_major

21.721311475409834